<main>
    <div class="container">
        <h4>ENJOY THE EMPIRE, WE WANT YOU!</h4>
        <form class="row g-3">
            <div class="col-6">
              <label for="inputName" class="form-label">Name</label>
              <input type="text" class="form-control" id="inputName" placeholder="Darth">
            </div>
            <div class="col-6">
                <label for="inputLastname" class="form-label">Lastname</label>
                <input type="text" class="form-control" id="inputLastname" placeholder="Vader">
              </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Homeworld</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Tatooine">
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">Spiecies</label>
              <input type="text" class="form-control" id="inputCity" placeholder="Sith">
            </div>
            <div class="col-md-6">
              <label for="inputState" class="form-label">Empire Army Role:</label>
              <select id="inputState" class="form-select">
                <option selected>Troopers Army</option>
                <option>Starships Aviator</option>
                <option>jr. Sith Lord</option>
              </select>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary pageBtn">Empire me out!</button>
            </div>
        </form>
    </div>
</main>
